body{
    margin: 0;
    box-sizing: border-box;
    border: 0;
    background-color:#FAFAFB;
    border-color: rgba(255, 228, 196, 0.011);
}
.company{
    color: rgb(58, 21, 193);
    width: 100vw;
    height: 80px;
    background-color:#FFF;;
    font-family: Poppins;
    box-shadow: 1px 6px rgba(128, 128, 128, 0.055);
    position: relative;

}
.code{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.passwordouter{
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
    justify-content: center;
    display: flex;
}
.passwordinner{
    background-color: #FFF;
    text-align: center;
    font-family: Poppins;
     width: 500px;
    height: 500px;
    flex-shrink: 0; 
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.055);

}
.setpassword{
    height: 40px;
    width: 11cm;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.116);
    
    
}
.confirmpassword{
    height: 40px;
    width: 11cm;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.452);

}
.button{
    height: 45px;
    width: 11cm;
    margin-bottom: 40px;
    background-color: #444BAB;
    color: white;
    flex-shrink: 0;
    border-radius: 4px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    margin-top: 50px;
}
.head{
    margin-bottom: 30px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.452);
}
form label{
    position: absolute ;
    left: 45px;
    top: -10px;
}
.forminnerdiv{
    position: relative;
}
form i{
    position: absolute;
    right: 50px;
    top: 35px;
}
   
   

